openapi: 3.0.3
info:
  title: NSF API v3
  description: >
    API REST do Instituto Social N.S.Fátima para gestão de usuários, cursos,
    inscrições (matrículas) e agendamentos do vestibular.
    Gerado a partir do código-fonte real (`src/NsfApi/Controllers`); atualizado em 2026-09-11.
    Ver também `specs/architecture.md`, `specs/features-usecases.md` e `specs/modeling.md`
    para detalhes de arquitetura, regras de negócio e modelagem de dados.
  version: "3.0.0"
  contact:
    name: NSF Vestibular
servers:
  - url: https://api.vestibular-insf.com.br
    description: Produção
  - url: http://localhost:5000
    description: Desenvolvimento local

tags:
  - name: Users
    description: Cadastro, autenticação e perfil de usuários
  - name: Courses
    description: Consulta de cursos disponíveis
  - name: Enrollments
    description: Inscrições/matrículas no vestibular
  - name: Appointments
    description: Agendamento de prova/entrevista
  - name: FAQs
    description: Perguntas frequentes
  - name: Payments
    description: Cobrança PIX da taxa de inscrição (EduTech PIX API) e consulta do pagamento
  - name: Parameters
    description: Status/parâmetros do vestibular vigente
  - name: Admin
    description: >
      Endpoints administrativos/legado, autenticados por senha fixa em
      querystring (`?password=`) — NÃO usam JWT. Não devem ser chamados a
      partir do app do usuário final; documentados aqui apenas por
      completude e para uso por sistemas administrativos internos.
  - name: AdminPanel
    description: >
      Painel administrativo (`/api/admin`): autenticação de administradores
      via coleção própria (`admins`, separada de `users`) e CRUD de Cursos,
      FAQs e Parâmetros do vestibular. Autenticado por JWT com claim
      `Role="Admin"` (distinto do token de usuário final, que sempre recebe
      `Role="User"`). Ver `POST /api/admin/auth/login` e
      `POST /api/admin/auth/bootstrap`.

security:
  - bearerAuth: []

paths:
  # ===================== USERS =====================
  /api/users:
    post:
      tags: [Users]
      summary: Cria um novo usuário
      description: >
        Cadastra um novo usuário. Se já existir um usuário inativo com o
        mesmo CPF, a conta é reativada (nome/email/senha/idade são
        atualizados) em vez de criar um novo registro.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserCommand'
      responses:
        '201':
          description: Usuário criado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDto'
        '400':
          description: Dados inválidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Email ou CPF já existente
        '500':
          description: Erro interno do servidor

  /api/users/login:
    post:
      tags: [Users]
      summary: Autentica um usuário e retorna token JWT
      description: >
        Recebe as credenciais como `multipart/form-data` (ou
        `application/x-www-form-urlencoded`), **não** como JSON.
        Mensagem de erro genérica para email inexistente/inativo ou senha
        incorreta, evitando enumeração de contas.
      security: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/LoginCommand'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/LoginCommand'
      responses:
        '200':
          description: Login realizado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponseDto'
        '400':
          description: Credenciais inválidas
        '401':
          description: Usuário inativo

  /api/users/profile:
    get:
      tags: [Users]
      summary: Obtém o perfil do usuário autenticado
      responses:
        '200':
          description: Dados do usuário
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDto'
        '401':
          description: Token inválido ou ausente
    put:
      tags: [Users]
      summary: Atualiza o perfil do usuário autenticado
      description: Atualização parcial — apenas campos não nulos de `UpdateUserDto` são alterados.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserDto'
      responses:
        '200':
          description: Perfil atualizado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDto'
        '400':
          description: Dados inválidos
        '401':
          description: Token inválido ou ausente
        '404':
          description: Usuário não encontrado

  /api/users/device-info:
    put:
      tags: [Users]
      summary: Atualiza as informações do aparelho do usuário autenticado
      description: >
        Substitui todo o objeto `DeviceInfo` (usado para registrar o token
        de push do Firebase Cloud Messaging — obs.: envio de notificações
        ainda não está conectado a nenhum fluxo de negócio).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDeviceInfoDto'
      responses:
        '200':
          description: Informações do aparelho atualizadas com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDto'
        '400':
          description: Dados inválidos
        '401':
          description: Token inválido ou ausente
        '404':
          description: Usuário não encontrado

  /api/users/forgot-password:
    post:
      tags: [Users]
      summary: Solicita recuperação de senha
      description: >
        Gera um código numérico de 6 dígitos válido por 15 minutos e envia
        por e-mail. Não revela se o e-mail existe (resposta sempre genérica).
        Se já existir uma solicitação pendente e válida, não gera outra.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestPasswordRecoveryDto'
      responses:
        '200':
          description: Solicitação processada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PasswordRecoveryResponseDto'
        '400':
          description: Dados inválidos

  /api/users/reset-password:
    post:
      tags: [Users]
      summary: Redefine a senha usando código de recuperação
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordDto'
      responses:
        '200':
          description: Senha redefinida com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PasswordRecoveryResponseDto'
        '400':
          description: Dados inválidos, código inválido ou expirado

  /api/users/rg-document:
    post:
      tags: [Users]
      summary: Envia (ou substitui) o anexo do RG do candidato
      description: >
        Obrigatório para concluir a inscrição. O arquivo é gravado no storage da API
        (volume Docker), não no MongoDB. Formatos aceitos: JPG, PNG, HEIC e PDF;
        tamanho máximo em `Storage:MaxUploadBytes` (4MB por padrão).
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: Anexo salvo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RgDocumentDto'
        '400':
          description: Arquivo ausente, grande demais ou em formato não aceito
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Token inválido ou ausente
    get:
      tags: [Users]
      summary: Baixa o anexo do RG do próprio candidato
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Arquivo do documento
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: Nenhum anexo enviado

  /api/users/{id}:
    delete:
      tags: [Users]
      summary: Desativa um usuário (soft-delete)
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Usuário desativado com sucesso
          content:
            application/json:
              schema:
                type: boolean
        '404':
          description: Usuário não encontrado

  # ===================== COURSES =====================
  /api/courses:
    get:
      tags: [Courses]
      summary: Lista todos os cursos ativos (resumo)
      responses:
        '200':
          description: Cursos retornados com sucesso
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CourseSummaryDto'
        '500':
          description: Erro interno do servidor

  /api/courses/count:
    get:
      tags: [Courses]
      summary: Quantidade de cursos ativos
      description: >
        **Anônimo de propósito**: o painel institucional das telas públicas (login, cadastro,
        recuperação de senha) exibe esse número e ali não há token. Devolve só a contagem —
        nenhum dado de curso é exposto. `GET /api/courses` continua exigindo JWT.
      security: []
      responses:
        '200':
          description: Contagem retornada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseCountDto'

  /api/courses/{id}:
    get:
      tags: [Courses]
      summary: Obtém um curso específico por ID (dados completos)
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Curso retornado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseDto'
        '404':
          description: Curso não encontrado
        '500':
          description: Erro interno do servidor

  /api/courses/{id}/image:
    get:
      tags: [Courses]
      summary: Obtém a imagem do curso
      description: Imagem servida a partir de arquivo em disco (`templates/images/{id}`), não do banco de dados.
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Imagem JPEG do curso
          content:
            image/jpeg:
              schema:
                type: string
                format: binary
        '404':
          description: Imagem não encontrada

  /api/courses/{id}/periods:
    get:
      tags: [Courses]
      summary: Lista os períodos/turnos disponíveis de um curso
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Lista de períodos do curso
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CoursePeriodDto'
        '404':
          description: Curso não encontrado

  # ===================== ENROLLMENTS =====================
  /api/enrollments:
    post:
      tags: [Enrollments]
      summary: Cria ou atualiza a inscrição do usuário no vestibular ativo
      description: >
        Se o usuário já possui inscrição no vestibular ativo e o status é
        `Open`, atualiza as escolhas; caso contrário retorna erro (inscrição
        já validada/cancelada não pode ser editada). Na primeira inscrição,
        gera um protocolo único no formato `{ano}{numeroSequencial:D4}`.
        Cursos de código 1016/1018 (Inglês Teens I/II) dispensam segunda opção.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEnrollmentDto'
      responses:
        '200':
          description: Inscrição processada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnrollmentDto'
        '400':
          description: Dados inválidos
        '500':
          description: Erro interno do servidor

  /api/enrollments/protocol/{protocol}:
    get:
      tags: [Enrollments]
      summary: Obtém uma inscrição pelo protocolo
      parameters:
        - name: protocol
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Inscrição retornada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnrollmentDto'
        '404':
          description: Inscrição não encontrada
        '500':
          description: Erro interno do servidor

  /api/enrollments/my-enrollment:
    get:
      tags: [Enrollments]
      summary: Obtém a inscrição do usuário autenticado no vestibular ativo
      description: >
        Retorna também `TestRoom`, `TestTime` e `TestDate`, preenchidos
        administrativamente após a fase de agendamento/validação.
      responses:
        '200':
          description: Inscrição retornada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnrollmentDto'
        '404':
          description: Inscrição não encontrada
        '500':
          description: Erro interno do servidor

  /api/enrollments/validate/{protocol}:
    post:
      tags: [Enrollments]
      summary: Valida uma inscrição por protocolo
      description: >
        ⚠️ **Endpoint inacessível na prática**: exige `[Authorize(Roles="Admin")]`,
        mas nenhum token emitido pelo sistema possui a role "Admin"
        (`JwtService` sempre atribui `Role="User"`). Não integrar no
        frontend enquanto essa limitação não for corrigida no backend.
      responses:
        '200':
          description: Inscrição validada com sucesso
        '400':
          description: Dados inválidos / falha ao validar
        '403':
          description: Acesso negado
        '500':
          description: Erro interno do servidor

  /api/enrollments/getCompleteEnrollment/{year}/{cpf}/{motherName}/{studentName}:
    get:
      tags: [Admin]
      summary: Obtém dados completos de uma inscrição (uso administrativo/legado)
      security: []
      parameters:
        - name: year
          in: path
          required: true
          schema:
            type: integer
        - name: cpf
          in: path
          required: true
          schema:
            type: string
          description: Use "-1" para buscar por nome do aluno + ano, ou por nome da mãe + ano.
        - name: motherName
          in: path
          required: true
          schema:
            type: string
        - name: studentName
          in: path
          required: true
          schema:
            type: string
        - name: password
          in: query
          required: true
          schema:
            type: string
          description: Senha administrativa fixa.
      responses:
        '200':
          description: Inscrição encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompleteEnrollmentDto'
        '401':
          description: Senha inválida
        '404':
          description: Inscrição não encontrada
        '500':
          description: Erro interno do servidor

  /api/enrollments/change-status/{protocol}/{newStatus}:
    post:
      tags: [Admin]
      summary: Altera o status de uma inscrição (uso administrativo/legado)
      description: >
        Usado por integração externa/sistema legado. Aceita qualquer valor
        inteiro para `newStatus` sem validação de faixa do enum `EnrollmentStatus`
        (1=Open, 2=Validated, 3=Canceled).
      security: []
      parameters:
        - name: protocol
          in: path
          required: true
          schema:
            type: string
        - name: newStatus
          in: path
          required: true
          schema:
            type: integer
        - name: password
          in: query
          required: true
          schema:
            type: string
        - name: idCurso1
          in: query
          schema:
            type: integer
        - name: dsTurno1
          in: query
          schema:
            type: string
        - name: idCurso2
          in: query
          schema:
            type: integer
        - name: dsTurno2
          in: query
          schema:
            type: string
        - name: sala
          in: query
          schema:
            type: string
        - name: horario
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Status alterado com sucesso
        '400':
          description: Protocolo não encontrado / falha ao alterar
        '401':
          description: Senha inválida

  /api/enrollments/my-enrollment/payment:
    post:
      tags: [Payments]
      summary: Gera a cobrança PIX da taxa de inscrição
      description: >
        Emite a cobrança na EduTech com correlationID `insfvest_{ano}{protocolo}` e o valor
        configurado na edição ativa. Enquanto a cobrança estiver pendente e válida, devolve a
        mesma; reemite (com sufixo `_2`, `_3`…) só quando ela venceu ou foi cancelada — e,
        antes disso, confirma no provedor que ela não foi paga. Depois de paga, nunca reemite.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Cobrança vigente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnrollmentPaymentDto'
        '400':
          description: Ano ou taxa de inscrição não configurados na edição ativa
        '404':
          description: Sem vestibular ativo ou sem inscrição
        '502':
          description: Provedor de pagamento indisponível ou sem configuração

  /api/enrollments/my-enrollment/payment/status:
    get:
      tags: [Payments]
      summary: Consulta no provedor se a cobrança já foi paga
      description: >
        Consulta a cobrança vigente na EduTech pelo correlationID e grava a situação na
        inscrição. É o mecanismo de confirmação — a EduTech não tem webhook. Sem cobrança
        emitida, ou já paga, devolve o que está gravado sem consultar o provedor.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Situação atual da cobrança
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnrollmentPaymentDto'
        '404':
          description: Sem vestibular ativo ou sem inscrição
        '502':
          description: Provedor de pagamento indisponível ou sem configuração

  /api/enrollments/count-by-course-period:
    get:
      tags: [Admin]
      summary: Contagem de inscrições agrupadas por curso e período (relatório)
      security: []
      parameters:
        - name: password
          in: query
          required: true
          schema:
            type: string
          description: Senha de relatório fixa.
      responses:
        '200':
          description: Lista de contagens
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EnrollmentCountByCoursePeriodDto'
        '401':
          description: Senha inválida

  # ===================== APPOINTMENTS =====================
  /api/appointments:
    post:
      tags: [Appointments]
      summary: Cria ou atualiza o agendamento de prova/entrevista do usuário logado
      description: >
        Exige vestibular ativo e inscrição `Open` do usuário nesse vestibular.
        Duração fixa de 60 minutos, limite de 40 pessoas por slot de
        data/hora, apenas dias úteis em horário comercial (08:00–17:30),
        respeitando feriados fixos cadastrados (⚠️ atualmente hard-coded
        somente para 2025). Um usuário só pode ter um agendamento — se já
        existir, a data é atualizada em vez de criar um novo registro.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrUpdateAppointmentCommand'
      responses:
        '200':
          description: Agendamento criado/atualizado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentResponseDto'

  /api/appointments/my:
    get:
      tags: [Appointments]
      summary: Consulta o agendamento do usuário logado
      responses:
        '200':
          description: Agendamento do usuário
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentResponseDto'
        '404':
          description: Nenhum agendamento encontrado para este usuário

  /api/appointments/available-dates:
    get:
      tags: [Appointments]
      summary: Consulta datas disponíveis para agendamento
      description: >
        Lista dias úteis não feriados entre hoje (ou o início do vestibular,
        o que for maior) e o fim do período de inscrição
        (`ExtensionDate ?? EndDate`).
      responses:
        '200':
          description: Datas disponíveis
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableAppointmentDatesDto'

  /api/appointments/count-by-date:
    get:
      tags: [Admin]
      summary: Contagem de agendamentos agrupados por data (relatório)
      security: []
      parameters:
        - name: password
          in: query
          required: true
          schema:
            type: string
          description: Senha de relatório fixa.
      responses:
        '200':
          description: Lista de contagens por data
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AppointmentCountByDateDto'
        '401':
          description: Senha inválida

  # ===================== FAQS =====================
  /api/faqs:
    get:
      tags: [FAQs]
      summary: Lista todas as FAQs ativas, ordenadas
      responses:
        '200':
          description: FAQs retornadas com sucesso
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FAQDto'
        '500':
          description: Erro interno do servidor

  # ===================== PARAMETERS =====================
  /api/parameters:
    get:
      tags: [Parameters]
      summary: Obtém o status atual do vestibular
      description: >
        Retorna a fase corrente (`NotStarted`/`RegistrationOpen`/`Finished`),
        mensagens contextuais e se as inscrições/resultado estão liberados.
      responses:
        '200':
          description: Status do vestibular
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VestibularStatusDto'

  # ===================== ADMIN PANEL =====================
  /api/admin/auth/login:
    post:
      tags: [AdminPanel]
      summary: Autentica um administrador e retorna token JWT (Role="Admin")
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminLoginCommand'
      responses:
        '200':
          description: Login realizado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminAuthResponseDto'
        '400':
          description: Credenciais inválidas

  /api/admin/auth/bootstrap:
    post:
      tags: [AdminPanel]
      summary: Cria o primeiro administrador do sistema
      description: >
        Só funciona enquanto a coleção `admins` estiver vazia (verifica via
        `IAdminUserRepository.AnyAsync`); exige a senha administrativa fixa
        (`AccessPassword.Admin`, a mesma usada pelos demais endpoints
        administrativos/legado) como segredo de bootstrap. Após o primeiro
        administrador existir, use `POST /api/admin/users` (autenticado)
        para criar os demais.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BootstrapAdminCommand'
      responses:
        '201':
          description: Administrador criado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminUserDto'
        '400':
          description: Dados inválidos ou senha administrativa incorreta
        '409':
          description: Já existe um administrador cadastrado

  /api/admin/users:
    post:
      tags: [AdminPanel]
      summary: Cria um novo administrador (requer administrador autenticado)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAdminUserCommand'
      responses:
        '201':
          description: Administrador criado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminUserDto'
        '400':
          description: Dados inválidos
        '401':
          description: Token inválido ou ausente
        '403':
          description: Token sem Role="Admin"

  /api/admin/courses:
    get:
      tags: [AdminPanel]
      summary: Lista todos os cursos, incluindo inativos
      responses:
        '200':
          description: Cursos retornados com sucesso
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdminCourseDto'
        '401':
          description: Token inválido ou ausente
        '403':
          description: Token sem Role="Admin"
    post:
      tags: [AdminPanel]
      summary: Cria um novo curso
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminCreateOrUpdateCourseDto'
      responses:
        '201':
          description: Curso criado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminCourseDto'
        '401':
          description: Token inválido ou ausente
        '403':
          description: Token sem Role="Admin"

  /api/admin/courses/{id}:
    get:
      tags: [AdminPanel]
      summary: Obtém um curso por ID, incluindo inativos
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Curso retornado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminCourseDto'
        '404':
          description: Curso não encontrado
    put:
      tags: [AdminPanel]
      summary: Atualiza um curso existente
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminCreateOrUpdateCourseDto'
      responses:
        '200':
          description: Curso atualizado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminCourseDto'
        '404':
          description: Curso não encontrado
    delete:
      tags: [AdminPanel]
      summary: Desativa um curso (soft-delete)
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Curso desativado com sucesso
          content:
            application/json:
              schema:
                type: boolean
        '404':
          description: Curso não encontrado

  /api/admin/faqs:
    get:
      tags: [AdminPanel]
      summary: Lista todas as FAQs, incluindo inativas
      responses:
        '200':
          description: FAQs retornadas com sucesso
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FAQDto'
    post:
      tags: [AdminPanel]
      summary: Cria uma nova FAQ
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminCreateOrUpdateFAQDto'
      responses:
        '201':
          description: FAQ criada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FAQDto'

  /api/admin/faqs/{id}:
    get:
      tags: [AdminPanel]
      summary: Obtém uma FAQ por ID, incluindo inativas
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: FAQ retornada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FAQDto'
        '404':
          description: FAQ não encontrada
    put:
      tags: [AdminPanel]
      summary: Atualiza uma FAQ existente
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminCreateOrUpdateFAQDto'
      responses:
        '200':
          description: FAQ atualizada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FAQDto'
        '404':
          description: FAQ não encontrada
    delete:
      tags: [AdminPanel]
      summary: Desativa uma FAQ (soft-delete)
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: FAQ desativada com sucesso
          content:
            application/json:
              schema:
                type: boolean
        '404':
          description: FAQ não encontrada

  /api/admin/parameters:
    get:
      tags: [AdminPanel]
      summary: Lista todas as edições do vestibular cadastradas
      responses:
        '200':
          description: Edições retornadas com sucesso
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VestibularParametersDto'
    post:
      tags: [AdminPanel]
      summary: Cria uma nova edição do vestibular (datas, textos, etc.)
      description: >
        A edição nasce inativa (`isActive=false`); use
        `POST /api/admin/parameters/{id}/activate` para torná-la a edição
        corrente consultada por `GET /api/parameters` e pelos fluxos de
        inscrição/agendamento.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminCreateVestibularParametersDto'
      responses:
        '201':
          description: Edição criada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VestibularParametersDto'

  /api/admin/parameters/{id}:
    get:
      tags: [AdminPanel]
      summary: Obtém uma edição do vestibular por ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Edição retornada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VestibularParametersDto'
        '404':
          description: Edição não encontrada
    put:
      tags: [AdminPanel]
      summary: Atualiza datas, textos e demais parâmetros de uma edição
      description: >
        `isActive` e `nextEnrollmentNumber` não são editáveis por este
        endpoint — a ativação é feita via
        `POST /api/admin/parameters/{id}/activate` e o contador de protocolo
        é incrementado atomicamente apenas pelo fluxo de inscrição.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminUpdateVestibularParametersDto'
      responses:
        '200':
          description: Edição atualizada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VestibularParametersDto'
        '404':
          description: Edição não encontrada

  /api/admin/parameters/{id}/activate:
    post:
      tags: [AdminPanel]
      summary: Marca a edição informada como ativa, desativando as demais
      description: >
        Garante que apenas uma edição do vestibular esteja ativa por vez
        (regra implícita documentada em `specs/modeling.md`).
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Edição ativada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VestibularParametersDto'
        '404':
          description: Edição não encontrada

  /api/admin/enrollments/dashboard:
    get:
      tags: [AdminPanel]
      summary: Estatísticas do dashboard de inscrições
      description: >
        Total de inscritos, contagem por status, série diária de inscritos e
        contagem por curso/período (considerando apenas a primeira opção,
        mesmo critério de `GET /api/enrollments/count-by-course-period`).
        Sem `vestibularParametersId`, usa a edição ativa do vestibular.
      parameters:
        - name: vestibularParametersId
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Estatísticas retornadas com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminEnrollmentDashboardDto'
        '401':
          description: Token inválido ou ausente
        '403':
          description: Token sem Role="Admin"

  /api/admin/enrollments:
    get:
      tags: [AdminPanel]
      summary: Busca/lista inscrições com paginação
      description: >
        O termo em `search` casa com protocolo, nome, CPF ou e-mail do
        candidato. Sem `vestibularParametersId`, busca em todas as edições
        do vestibular (permite achar protocolos de anos anteriores).
      parameters:
        - name: search
          in: query
          required: false
          schema:
            type: string
        - name: status
          in: query
          required: false
          description: 'Nome do enum: Open, Validated ou Canceled'
          schema:
            type: string
            enum: [Open, Validated, Canceled]
        - name: vestibularParametersId
          in: query
          required: false
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
            default: 20
            maximum: 200
      responses:
        '200':
          description: Lista retornada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminEnrollmentListResultDto'
        '401':
          description: Token inválido ou ausente
        '403':
          description: Token sem Role="Admin"

  /api/admin/enrollments/{id}:
    get:
      tags: [AdminPanel]
      summary: Obtém os detalhes completos de uma inscrição
      description: >
        Inclui escolhas de curso, status, sala/horário de prova e os dados
        cadastrais completos do candidato dono da inscrição.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Inscrição retornada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminEnrollmentDetailDto'
        '404':
          description: Inscrição não encontrada
        '401':
          description: Token inválido ou ausente
        '403':
          description: Token sem Role="Admin"

  /api/admin/enrollments/{id}/reset-password:
    post:
      tags: [AdminPanel]
      summary: Reseta a senha do candidato dono da inscrição
      description: >
        Se `newPassword` vier vazio/ausente, uma senha aleatória de 10
        caracteres é gerada e devolvida em `newPassword` na resposta, para o
        admin repassar ao candidato.
      parameters:
        - name: id
          in: path
          required: true
          description: Id da inscrição (não o id do usuário)
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminResetUserPasswordDto'
      responses:
        '200':
          description: Senha resetada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminResetUserPasswordResultDto'
        '404':
          description: Inscrição ou usuário não encontrado
        '401':
          description: Token inválido ou ausente
        '403':
          description: Token sem Role="Admin"

  # ===================== ADMIN — IMPORTAÇÕES =====================
  /api/admin/imports/enrolled-students:
    post:
      tags: [AdminPanel]
      summary: Importa alunos matriculados (CSV)
      description: >
        Colunas: `nr_ano, id_aluno, ds_cpf, ds_rg, id_curso`. Substitui os anos presentes
        no arquivo; anos ausentes permanecem intactos. O separador é detectado
        automaticamente e as colunas são lidas pelo nome no cabeçalho.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: Resultado da importação
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportResultDto'
        '400':
          description: Arquivo ausente ou colunas obrigatórias faltando

  /api/admin/imports/tuition-payments:
    post:
      tags: [AdminPanel]
      summary: Importa pagamentos de mensalidade (CSV)
      description: >
        Colunas: `nr_ano, id_aluno, ds_cpf, ds_rg, dt_referencia, bt_pago`.
        **Substitui a coleção inteira** a cada envio, via coleção temporária + swap.
        Arquivo vazio ou sem nenhuma linha válida é recusado antes de tocar na base.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: Resultado da importação
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportResultDto'
        '400':
          description: Arquivo vazio, inválido ou com colunas faltando

  /api/admin/imports/status:
    get:
      tags: [AdminPanel]
      summary: Situação das coleções importadas
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Total de registros e data do último lote
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportStatusDto'

  /api/admin/users/{userId}/rg-document:
    get:
      tags: [AdminPanel]
      summary: Baixa o anexo do RG de um candidato (conferência da secretaria)
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Arquivo do documento
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: Anexo não encontrado

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >
        Token JWT obtido em `POST /api/users/login`. Enviar como
        `Authorization: Bearer <token>`. Validade de 4 meses. A claim
        `Role` é sempre "User" — não existe emissão de tokens com role
        "Admin" no sistema atual.

  schemas:
    ErrorResponse:
      type: object
      properties:
        message:
          type: string
        error:
          type: string

    # -------- Users --------
    CreateUserCommand:
      type: object
      required: [name, cpf, birthDate, password, email]
      properties:
        name:
          type: string
          minLength: 2
          maxLength: 100
        cpf:
          type: string
          description: Formato "000.000.000-00" (ou apenas dígitos), 11–14 caracteres.
          minLength: 11
          maxLength: 14
        birthDate:
          type: string
          format: date-time
          description: Deve estar no passado e não mais que 120 anos atrás.
        password:
          type: string
          minLength: 6
          maxLength: 100
        email:
          type: string
          format: email
          maxLength: 150

    LoginCommand:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string

    AuthResponseDto:
      type: object
      properties:
        token:
          type: string
        refreshToken:
          type: string
          description: Gerado mas ainda sem endpoint/persistência para uso (funcionalidade incompleta).
        expiresAt:
          type: string
          format: date-time
        user:
          $ref: '#/components/schemas/UserDto'

    UpdateUserDto:
      type: object
      description: Todos os campos são opcionais — apenas os enviados (não nulos) são atualizados.
      properties:
        name:
          type: string
          nullable: true
        phone:
          type: string
          nullable: true
        gender:
          type: string
          nullable: true
        cpf:
          type: string
          nullable: true
        address:
          $ref: '#/components/schemas/AddressDto'
        birthInfo:
          $ref: '#/components/schemas/BirthInfoDto'
        generalInfo:
          $ref: '#/components/schemas/GeneralInfoDto'
        rgInfo:
          $ref: '#/components/schemas/RgInfoDto'
        primaryResponsible:
          $ref: '#/components/schemas/ResponsibleDto'
        secondaryResponsible:
          $ref: '#/components/schemas/ResponsibleDto'
        schoolInfo:
          $ref: '#/components/schemas/SchoolInfoDto'
        deviceInfo:
          $ref: '#/components/schemas/DeviceInfoDto'

    UpdateDeviceInfoDto:
      type: object
      properties:
        deviceId:
          type: string
        deviceModel:
          type: string
        operatingSystem:
          type: string
        osVersion:
          type: string
        appVersion:
          type: string
        firebaseToken:
          type: string

    RequestPasswordRecoveryDto:
      type: object
      required: [email]
      properties:
        email:
          type: string
          format: email

    ResetPasswordDto:
      type: object
      required: [email, code, newPassword]
      properties:
        email:
          type: string
          format: email
        code:
          type: string
          description: Código numérico de 6 dígitos, válido por 15 minutos.
        newPassword:
          type: string

    PasswordRecoveryResponseDto:
      type: object
      properties:
        message:
          type: string
        success:
          type: boolean

    UserDto:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        email:
          type: string
        phone:
          type: string
        cpf:
          type: string
        gender:
          type: string
        address:
          $ref: '#/components/schemas/AddressDto'
        birthInfo:
          $ref: '#/components/schemas/BirthInfoDto'
        generalInfo:
          $ref: '#/components/schemas/GeneralInfoDto'
        rgInfo:
          $ref: '#/components/schemas/RgInfoDto'
        primaryResponsible:
          $ref: '#/components/schemas/ResponsibleDto'
        secondaryResponsible:
          $ref: '#/components/schemas/ResponsibleDto'
        schoolInfo:
          $ref: '#/components/schemas/SchoolInfoDto'
        deviceInfo:
          $ref: '#/components/schemas/DeviceInfoDto'
        age:
          type: integer
        createdAt:
          type: string
          format: date-time
        modifiedAt:
          type: string
          format: date-time
        isActive:
          type: boolean

    AddressDto:
      type: object
      properties:
        cep:
          type: string
        street:
          type: string
        neighborhood:
          type: string
        city:
          type: string
        state:
          type: string
        number:
          type: string
        complement:
          type: string

    BirthInfoDto:
      type: object
      properties:
        date:
          type: string
          format: date-time
        city:
          type: string
        state:
          type: string
        country:
          type: string

    GeneralInfoDto:
      type: object
      properties:
        howDidYouKnow:
          type: string
        income:
          type: number
          format: decimal
        peopleAtHome:
          type: integer
        peopleWorking:
          type: integer

    RgInfoDto:
      type: object
      properties:
        number:
          type: string
        issueDate:
          type: string
          format: date-time
        issuingAuthority:
          type: string
        hasDocument:
          type: boolean
          description: Indica se o candidato já anexou a foto do RG (obrigatória para inscrever).
        documentUploadedAt:
          type: string
          format: date-time
          nullable: true

    RgDocumentDto:
      type: object
      properties:
        hasDocument:
          type: boolean
        contentType:
          type: string
          nullable: true
        uploadedAt:
          type: string
          format: date-time
          nullable: true

    ResponsibleDto:
      type: object
      properties:
        name:
          type: string
        email:
          type: string
        phone:
          type: string
        phoneSecondary:
          type: string
        relationship:
          type: string

    SchoolInfoDto:
      type: object
      properties:
        currentSchool:
          type: string
        currentGrade:
          type: string
        schoolType:
          type: string

    DeviceInfoDto:
      type: object
      properties:
        deviceId:
          type: string
        deviceModel:
          type: string
        operatingSystem:
          type: string
        osVersion:
          type: string
        appVersion:
          type: string
        firebaseToken:
          type: string
        lastSeen:
          type: string
          format: date-time

    # -------- Courses --------
    CourseSummaryDto:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        workload:
          type: string
        imageId:
          type: string
          description: Identificador usado em `GET /api/courses/{id}/image`.
        type:
          type: string
          description: Default "Livre" quando nulo na base.
        code:
          type: integer

    CourseCountDto:
      type: object
      properties:
        total:
          type: integer
          format: int64
          description: Quantidade de cursos com `isActive = true`.

    CourseDto:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        code:
          type: integer
        availablePeriods:
          type: array
          items:
            $ref: '#/components/schemas/CoursePeriodDto'
        subjects:
          type: array
          items:
            $ref: '#/components/schemas/SubjectDto'
        minAge:
          type: string
          description: Texto livre (não numérico).
        maxAge:
          type: string
          description: Texto livre (não numérico).
        isActive:
          type: boolean
        createdAt:
          type: string
          format: date-time
        modifiedAt:
          type: string
          format: date-time
        workload:
          type: string
        jobMarket:
          type: string
        contribution:
          type: string
        minSchoolLevel:
          type: string
        apresentationVideoUrl:
          type: string
        image:
          type: string

    CoursePeriodDto:
      type: object
      properties:
        code:
          type: integer
        name:
          type: string
        entryTime:
          type: string
          example: "08:00"
        exitTime:
          type: string
          example: "17:30"
        isActive:
          type: boolean

    SubjectDto:
      type: object
      properties:
        code:
          type: integer
        name:
          type: string

    # -------- Enrollments --------
    CreateEnrollmentDto:
      type: object
      required: [firstChoiceCourseCode, firstChoicePeriodCode]
      properties:
        firstChoiceCourseCode:
          type: integer
        firstChoicePeriodCode:
          type: integer
        secondChoiceCourseCode:
          type: string
          description: >
            Enviado como string; vazio/omitido quando o curso da primeira
            opção dispensa segunda opção (ex.: códigos 1004, 1016, 1018).
        secondChoicePeriodCode:
          type: string

    EnrollmentDto:
      type: object
      properties:
        id:
          type: string
        protocol:
          type: string
          description: "Formato {ano}{sequencial:D4}; o contador começa em 1001."
          example: "20261001"
        userId:
          type: string
        vestibularParametersId:
          type: string
        firstChoice:
          $ref: '#/components/schemas/CourseChoiceDto'
        secondChoice:
          $ref: '#/components/schemas/CourseChoiceDto'
        testDate:
          type: string
          format: date-time
        testRoom:
          type: string
          nullable: true
        testTime:
          type: string
          nullable: true
        status:
          $ref: '#/components/schemas/EnrollmentStatus'
        isInternalStudent:
          type: boolean
          description: >
            Candidato que já é aluno da casa e escolheu a continuidade do próprio curso de
            inglês — faz nivelamento na turma em vez da prova do vestibular.
        resultPublicationDate:
          type: string
          format: date-time
          description: >
            Data de divulgação do resultado **deste candidato**. Candidato externo em curso de
            continuidade recebe a data alternativa da edição. Prefira este campo à data global
            de `GET /api/parameters`.
        roomNoticeEmailDate:
          type: string
          format: date-time
          nullable: true
          description: Data em que horário e sala da prova são enviados por e-mail.
        paymentStatus:
          $ref: '#/components/schemas/PaymentStatus'
        paymentPaidAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time
        modifiedAt:
          type: string
          format: date-time

    PaymentStatus:
      type: integer
      enum: [1, 2, 3, 4, 5]
      description: "1=Pending, 2=Paid, 3=Expired, 4=Failed, 5=Canceled"

    EnrollmentPaymentDto:
      type: object
      properties:
        correlationId:
          type: string
          nullable: true
          description: Identificador da cobrança no provedor. Nulo antes da emissão.
          example: insfvest_202620261001
        status:
          $ref: '#/components/schemas/PaymentStatus'
        amount:
          type: number
          format: double
        copyPasteCode:
          type: string
          nullable: true
          description: Código PIX copia-e-cola.
        qrCodeImageUrl:
          type: string
          nullable: true
          description: URL da imagem do QR code, servida pelo provedor.
        expiresAt:
          type: string
          format: date-time
          nullable: true
        paidAt:
          type: string
          format: date-time
          nullable: true

    ImportResultDto:
      type: object
      properties:
        totalRows:
          type: integer
          description: Linhas de dados no arquivo (sem o cabeçalho).
        imported:
          type: integer
        skipped:
          type: integer
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ImportRowErrorDto'

    ImportRowErrorDto:
      type: object
      properties:
        line:
          type: integer
          description: Número da linha no arquivo, contando o cabeçalho como linha 1.
        reason:
          type: string

    ImportStatusDto:
      type: object
      properties:
        enrolledStudents:
          $ref: '#/components/schemas/ImportCollectionStatusDto'
        tuitionPayments:
          $ref: '#/components/schemas/ImportCollectionStatusDto'

    ImportCollectionStatusDto:
      type: object
      properties:
        totalRecords:
          type: integer
          format: int64
        lastImportAt:
          type: string
          format: date-time
          nullable: true

    CourseChoiceDto:
      type: object
      properties:
        courseCode:
          type: integer
        courseName:
          type: string
        periodCode:
          type: integer
        periodName:
          type: string

    EnrollmentStatus:
      type: integer
      enum: [1, 2, 3]
      description: "1=Open (editável), 2=Validated (imutável), 3=Canceled (imutável)"

    EnrollmentCountByCoursePeriodDto:
      type: object
      properties:
        courseName:
          type: string
        periodName:
          type: string
        totalInscritos:
          type: integer

    CompleteEnrollmentDto:
      type: object
      description: DTO de interoperabilidade com sistema legado (nomenclatura em português).
      properties:
        nmUsuario:
          type: string
        dsEmailCandidato:
          type: string
        dsTelefoneCandidato:
          type: string
        dsResponsavelParentesco:
          type: string
        dsResponsavelSecundarioParentesco:
          type: string
        dtNascimento:
          type: string
          format: date-time
        nrRg:
          type: string
        dsCpf:
          type: string
        dtEmissaoRg:
          type: string
          format: date-time
          nullable: true
        dsOrgaoRg:
          type: string
        dsSexo:
          type: string
        dsCodigoInscricao:
          type: integer
        dsEscolaridade:
          type: string
        tpEscola:
          type: string
        dsEscola:
          type: string
        dsComoConheceu:
          type: string
        dsRenda:
          type: number
          nullable: true
        qtdPessoasResidentesCasa:
          type: integer
        qtdPessoasTrabalhando:
          type: integer
        dsCidadeNascimento:
          type: string
        dsUfNascimento:
          type: string
        dsNascionalidade:
          type: string
        idPrimeiroCurso:
          type: integer
        dsPrimeiroCurso:
          type: string
        dsTurnoPrimeiroCurso:
          type: string
        idSegundoCurso:
          type: integer
          nullable: true
        dsSegundoCurso:
          type: string
        dsTurnoSegundoCurso:
          type: string
        nrCep:
          type: string
        dsEndereco:
          type: string
        nrResidencia:
          type: string
        dsComplemento:
          type: string
        dsBairro:
          type: string
        dsUfResidencia:
          type: string
        dsCidadeResidencia:
          type: string
        nmResponsavel:
          type: string
        nrTelefoneResp:
          type: string
        nrTelefoneRespSec:
          type: string
        dsEmailResp:
          type: string
        nmResponsavelSecundario:
          type: string
        nrTelefoneRespSecundario:
          type: string
        nrTelefoneRespSecSecundario:
          type: string
        dsEmailRespSecundario:
          type: string
        dsAnoInscricao:
          type: integer

    # -------- Appointments --------
    CreateOrUpdateAppointmentCommand:
      type: object
      required: [appointmentDateTime]
      properties:
        appointmentDateTime:
          type: string
          format: date-time
          description: Deve ser futura, em dia útil e horário comercial (08:00–17:30).

    AppointmentResponseDto:
      type: object
      properties:
        id:
          type: string
        appointmentDate:
          type: string
          format: date-time
        startTime:
          type: string
          example: "09:00"
        endTime:
          type: string
          example: "10:00"
        notes:
          type: string
        status:
          $ref: '#/components/schemas/AppointmentStatus'
        createdAt:
          type: string
          format: date-time
        modifiedAt:
          type: string
          format: date-time

    AppointmentStatus:
      type: integer
      enum: [1, 2, 3, 4]
      description: >
        1=Scheduled (único valor efetivamente usado hoje), 2=Confirmed,
        3=Cancelled, 4=Completed (sem transição implementada em código).

    AvailableAppointmentDatesDto:
      type: object
      properties:
        availableDates:
          type: array
          items:
            type: string
            format: date-time
        totalDays:
          type: integer
        enrollmentEndDate:
          type: string
          format: date-time
          nullable: true

    AppointmentCountByDateDto:
      type: object
      properties:
        date:
          type: string
          example: "10/08/2026"
        totalAgendamentos:
          type: integer

    # -------- FAQs --------
    FAQDto:
      type: object
      properties:
        id:
          type: string
        key:
          type: string
          nullable: true
          description: >
            Slug estável para link direto (`/faq?q=<key>`), ex.: `edital-bolsa`.
            Preferível ao índice (muda ao reordenar) e ao id (difere entre ambientes).
        question:
          type: string
        answer:
          type: string
        order:
          type: integer
        isActive:
          type: boolean
        createdAt:
          type: string
          format: date-time
        modifiedAt:
          type: string
          format: date-time

    # -------- Parameters --------
    VestibularStatusDto:
      type: object
      properties:
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        extensionDate:
          type: string
          format: date-time
          nullable: true
        resultPublicationDate:
          type: string
          format: date-time
        resultUrl:
          type: string
        message:
          type: string
        description:
          type: string
        presentationVideoUrl:
          type: string
        isRegistrationOpen:
          type: boolean
        canShowResultUrl:
          type: boolean
        daysUntilStart:
          type: integer
        daysUntilEnd:
          type: integer
        currentPhase:
          $ref: '#/components/schemas/VestibularPhase'

    VestibularPhase:
      type: string
      enum: [NotStarted, RegistrationOpen, RegistrationClosed, Finished]

    # -------- Admin Panel --------
    AdminLoginCommand:
      type: object
      required: [username, password]
      properties:
        username:
          type: string
        password:
          type: string

    BootstrapAdminCommand:
      type: object
      required: [username, email, name, password, accessPassword]
      properties:
        username:
          type: string
          minLength: 3
          maxLength: 50
        email:
          type: string
          format: email
        name:
          type: string
          maxLength: 100
        password:
          type: string
          minLength: 8
        accessPassword:
          type: string
          description: Senha administrativa fixa (mesma usada nos demais endpoints com tag Admin).

    CreateAdminUserCommand:
      type: object
      required: [username, email, name, password]
      properties:
        username:
          type: string
          minLength: 3
          maxLength: 50
        email:
          type: string
          format: email
        name:
          type: string
          maxLength: 100
        password:
          type: string
          minLength: 8

    AdminUserDto:
      type: object
      properties:
        id:
          type: string
        username:
          type: string
        email:
          type: string
        name:
          type: string
        isActive:
          type: boolean
        createdAt:
          type: string
          format: date-time
        lastLoginAt:
          type: string
          format: date-time
          nullable: true

    AdminAuthResponseDto:
      type: object
      properties:
        token:
          type: string
        expiresAt:
          type: string
          format: date-time
        admin:
          $ref: '#/components/schemas/AdminUserDto'

    AdminCourseDto:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        code:
          type: integer
        availablePeriods:
          type: array
          items:
            $ref: '#/components/schemas/CoursePeriodDto'
        subjects:
          type: array
          items:
            $ref: '#/components/schemas/SubjectDto'
        minAge:
          type: string
        maxAge:
          type: string
        isActive:
          type: boolean
        createdAt:
          type: string
          format: date-time
        modifiedAt:
          type: string
          format: date-time
        workload:
          type: string
        jobMarket:
          type: string
        contribution:
          type: string
        minSchoolLevel:
          type: string
        apresentationVideoUrl:
          type: string
        image:
          type: string
        type:
          type: string
          nullable: true
        maxBirtDate:
          type: string
          format: date-time
          description: Data de nascimento mínima permitida (sic — ver nota em specs/modeling.md).
        minBirthDate:
          type: string
          format: date-time
          description: Data de nascimento máxima permitida (semântica invertida do nome — ver specs/modeling.md).

    AdminCreateOrUpdateCourseDto:
      type: object
      required: [name, code]
      properties:
        name:
          type: string
        description:
          type: string
        code:
          type: integer
        availablePeriods:
          type: array
          items:
            $ref: '#/components/schemas/CoursePeriodDto'
        subjects:
          type: array
          items:
            $ref: '#/components/schemas/SubjectDto'
        minAge:
          type: string
        maxAge:
          type: string
        isActive:
          type: boolean
          default: true
        workload:
          type: string
        jobMarket:
          type: string
        contribution:
          type: string
        minSchoolLevel:
          type: string
        apresentationVideoUrl:
          type: string
        image:
          type: string
          description: Identificador usado em `GET /api/courses/{id}/image` (arquivo em `templates/images/{id}`, fora deste payload).
        type:
          type: string
          nullable: true
        maxBirtDate:
          type: string
          format: date-time
        minBirthDate:
          type: string
          format: date-time

    AdminCreateOrUpdateFAQDto:
      type: object
      required: [question, answer]
      properties:
        question:
          type: string
        answer:
          type: string
        order:
          type: integer
        isActive:
          type: boolean
          default: true

    VestibularParametersDto:
      type: object
      properties:
        id:
          type: string
        year:
          type: integer
          description: Ano da edição — compõe o correlationID da cobrança PIX.
          example: 2026
        enrollmentFee:
          type: number
          format: double
          description: Taxa de inscrição, em reais.
          example: 40.0
        presentationVideoUrl:
          type: string
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        extensionDate:
          type: string
          format: date-time
          nullable: true
        isActive:
          type: boolean
        allowRegistration:
          type: boolean
        resultPublicationDate:
          type: string
          format: date-time
        resultPublicationDateExternal:
          type: string
          format: date-time
          nullable: true
          description: >
            Resultado do candidato **externo** em curso de continuidade de inglês
            (Avançado, Intermediário, Pré-Intermediário Noturno, Teens II).
            Nulo cai na `resultPublicationDate`.
        roomNoticeEmailDate:
          type: string
          format: date-time
          nullable: true
          description: Data do e-mail com horário e sala da prova.
        resultUrl:
          type: string
        nextEnrollmentNumber:
          type: integer
          description: Contador atômico usado para gerar o protocolo de inscrição; não editável via PUT.
        description:
          type: string
        testDate:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
        modifiedAt:
          type: string
          format: date-time

    AdminCreateVestibularParametersDto:
      type: object
      required: [year, enrollmentFee, startDate, endDate]
      properties:
        year:
          type: integer
          minimum: 2000
          maximum: 2100
          description: Ano da edição — compõe o correlationID da cobrança PIX.
        enrollmentFee:
          type: number
          format: double
          description: Taxa de inscrição, em reais. Deve ser maior que zero.
        presentationVideoUrl:
          type: string
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        extensionDate:
          type: string
          format: date-time
          nullable: true
        allowRegistration:
          type: boolean
          default: true
        resultPublicationDate:
          type: string
          format: date-time
        resultPublicationDateExternal:
          type: string
          format: date-time
          nullable: true
          description: >
            Resultado do candidato **externo** em curso de continuidade de inglês
            (Avançado, Intermediário, Pré-Intermediário Noturno, Teens II).
            Nulo cai na `resultPublicationDate`.
        roomNoticeEmailDate:
          type: string
          format: date-time
          nullable: true
          description: Data do e-mail com horário e sala da prova.
        resultUrl:
          type: string
        description:
          type: string
        testDate:
          type: string
          format: date-time
        nextEnrollmentNumber:
          type: integer
          default: 1001
          description: Ponto de partida do contador de protocolo (útil para alinhar com sistema legado).

    AdminUpdateVestibularParametersDto:
      type: object
      required: [year, enrollmentFee, startDate, endDate]
      properties:
        year:
          type: integer
          minimum: 2000
          maximum: 2100
          description: Ano da edição — compõe o correlationID da cobrança PIX.
        enrollmentFee:
          type: number
          format: double
          description: Taxa de inscrição, em reais. Vale para as cobranças emitidas daqui em diante.
        presentationVideoUrl:
          type: string
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        extensionDate:
          type: string
          format: date-time
          nullable: true
        allowRegistration:
          type: boolean
        resultPublicationDate:
          type: string
          format: date-time
        resultPublicationDateExternal:
          type: string
          format: date-time
          nullable: true
          description: >
            Resultado do candidato **externo** em curso de continuidade de inglês
            (Avançado, Intermediário, Pré-Intermediário Noturno, Teens II).
            Nulo cai na `resultPublicationDate`.
        roomNoticeEmailDate:
          type: string
          format: date-time
          nullable: true
          description: Data do e-mail com horário e sala da prova.
        resultUrl:
          type: string
        description:
          type: string
        testDate:
          type: string
          format: date-time

    AdminEnrollmentDashboardDto:
      type: object
      properties:
        total:
          type: integer
        byStatus:
          type: array
          items:
            $ref: '#/components/schemas/AdminEnrollmentStatusCountDto'
        byDay:
          type: array
          items:
            $ref: '#/components/schemas/AdminEnrollmentDayCountDto'
        byCoursePeriod:
          type: array
          items:
            $ref: '#/components/schemas/AdminEnrollmentCoursePeriodCountDto'

    AdminEnrollmentStatusCountDto:
      type: object
      properties:
        status:
          type: string
          enum: [Open, Validated, Canceled]
        count:
          type: integer

    AdminEnrollmentDayCountDto:
      type: object
      properties:
        date:
          type: string
          format: date
        count:
          type: integer

    AdminEnrollmentCoursePeriodCountDto:
      type: object
      description: >
        Uma linha por combinação (curso, período); o front-end agrupa por
        curso e empilha as séries por período para o gráfico.
      properties:
        courseName:
          type: string
        periodName:
          type: string
        count:
          type: integer

    AdminEnrollmentListItemDto:
      type: object
      properties:
        id:
          type: string
        protocol:
          type: string
        studentName:
          type: string
        studentCpf:
          type: string
        studentEmail:
          type: string
        firstChoiceCourseName:
          type: string
        firstChoicePeriodName:
          type: string
        status:
          type: string
          enum: [Open, Validated, Canceled]
        createdAt:
          type: string
          format: date-time

    AdminEnrollmentListResultDto:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/AdminEnrollmentListItemDto'
        total:
          type: integer
        page:
          type: integer
        pageSize:
          type: integer

    AdminEnrollmentDetailDto:
      type: object
      properties:
        id:
          type: string
        protocol:
          type: string
        status:
          type: string
          enum: [Open, Validated, Canceled]
        testRoom:
          type: string
        testTime:
          type: string
        createdAt:
          type: string
          format: date-time
        modifiedAt:
          type: string
          format: date-time
        firstChoice:
          $ref: '#/components/schemas/CourseChoiceDto'
        secondChoice:
          $ref: '#/components/schemas/CourseChoiceDto'
          nullable: true
        student:
          $ref: '#/components/schemas/UserDto'

    AdminResetUserPasswordDto:
      type: object
      properties:
        newPassword:
          type: string
          nullable: true
          description: Se vazio/ausente, o backend gera uma senha aleatória.

    AdminResetUserPasswordResultDto:
      type: object
      properties:
        success:
          type: boolean
        newPassword:
          type: string
          description: Senha em texto plano (gerada ou informada) — exibir uma única vez ao admin.
