@use '../../../../styles/tokens' as t;
@use '../../../../styles/admin' as admin;

.admin-form-page {
    @include admin.admin-form-page;

    .faixa-status {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-top: -14px;
    }

    .linha-testers {
        grid-template-columns: 1fr auto;
    }
}
